.header {

    padding: 1rem 2rem;
}

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {

    color: purple;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.header__nav a {

    text-decoration: none;
    margin-left: 1rem;
}

.header__nav a:hover {

    text-decoration: underline;
    color: purple;
}