.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.img {
    width: 100%;
    border-radius: 12px;
    margin: 1rem 0;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
}

.back {
    display: inline-block;
    border-radius: 12px;
    margin-top: 1.5rem;
    padding: 1rem;
    color: white;
    background-color: purple;
    font-weight: bold;
    text-decoration: none;
}